* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(90deg, #9d0b28, #c70039, #af0404, #ff0000);
  background-size: 500%;
}
/* ff0000 
c70039*/

/* html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif; 
} 
 */
.header {
  margin: 3em 1em 1em 1em;
}
.header-div {
  display: flex;
  border: solid 1px aliceblue;
  border-radius: 10px;
  justify-content: center;
}
.header-task {
  display: flex;
  border: solid 1px aliceblue;
  border-radius: 10px;
  justify-content: center;
  margin: 0 50px;
  margin-top: 20px;
}
.header-title {
  margin: 0;
  color: aliceblue;
  font-size: clamp(30px, 10vw, 55px);
}

.form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.form-button,
.add-buton {
  text-decoration: none;
  border: none;
  cursor: pointer;
  background: center;
}
.add {
  width: 40px;
  height: 40px;
}

.add-buton:hover {
  cursor: pointer;
}
.form-input {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Muli", sans-serif;
  height: 50px;
  width: 290px;
  letter-spacing: 1px; /*lo separa */
  margin: 10px 0px;
  margin-right: 5px;
}
.reminders {
  margin-top: 10px;
  display: flex;
}
.reminders-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-evenly;
  width: 100%;
}

.reminders-list-element {
  list-style: none;
  background-color: #f9f9f9;
  border-radius: 5px;
  color: #41444b;
  justify-content: center;
  border: solid 1px red;
  padding: clamp(5px, 1vw, 25px);
  width: clamp(150px, 8vw, 300px);
}

.delete,
.complete {
  width: 30px;
  height: 30px;
}
.complete {
  /*  completados */
  text-decoration: line-through;
}
.ShowComponents,
.div-input {
  display: flex;
  justify-content: center;
}
.input-label {
  color: white;
  padding-left: 5px;
  font-size: 1rem;
  font-weight: bold;
}

/* ----- */
.input {
  width: 25px;
  height: 25px;
}
.show-task,
.show-list {
  display: flex;
  justify-content: center;
}

.show-list {
  list-style: none;
  background-color: #f9f9f9;
  border-radius: 5px;
  color: #41444b;
  border: solid 1px red;
  padding: clamp(5px, 1vw, 25px);
  width: clamp(200px, 4vw, 300px);
}
.reminders-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-evenly;
  width: 100%;
}
